<form>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Id"
      [(ngModel)]="usuario.id" name="Id" disabled="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nome"
      [(ngModel)]="usuario.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone"
      [(ngModel)]="usuario.telefone" name="Telefone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Endereco"
      [(ngModel)]="usuario.endereco" name="Endereco">

    </mat-form-field>

  </div>

</form>

<button class="botao" (click)="atualizarUsuario()" color="primary">
  Salvar
</button>
