<h1 style="text-align: center;">CRIAÇÃO DE USUÁRIO</h1>

<form>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nome"
      [(ngModel)]="usuario.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone"
      [(ngModel)]="usuario.telefone" name="telefone">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Endereco"
      [(ngModel)]="usuario.endereco" name="Endereco">

    </mat-form-field>

  </div>

</form>

<button class="botao" (click)="salvarUsuario()" color="primary">
  Salvar
</button>
